* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  line-height: 3.5rem;
}
.img {
  background-image: url('../images/abc.jpg');
  height: 100%;

  background-position: center;

  background-size: cover;
}

.hhh {
  width: 380px;
}
.slide {
  padding: 10px;
}
.slide:hover {
  background-color: grey;
}
.slide:nth-child(2):hover {
  cursor: pointer;
}
.gg {
  margin-bottom: 25px;
}
.tags {
  padding: 5px;
  border-radius: 1px;
  background-color: lightgreen;
  color: black;
}
@media (max-width: 500px) {
  .hhh {
    width: 100%;
  }
}
