* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  line-height: 3.5rem;
}
.img {
  background-image: url('../images/abc.jpg');
  height: 100%;

  background-position: center;

  background-size: cover;
}

.hhh {
  width: 380px;
}
.slide {
  padding: 10px;
}

.hidetext {
  display: none;
}
.slide:nth-child(2):hover {
  cursor: pointer;
}
.gg {
  margin-bottom: 25px;
}
.tags {
  padding: 5px;
  border-radius: 1px;
  background-color: lightgreen;
  color: black;
}
.showsidebar {
  width: 200px;
}
.hidesidebar {
  width: 50px;
}
.filterfield {
  width: 500px;
}
.graph {
  width: 100%;
  height: calc(100vh - 70px) !important;
}
.graph svg {
  width: 100% !important;
  height: calc(100vh - 74px) !important;
}
@media screen and (max-width: 500px) {
  .hhh {
    width: 100%;
  }

  .menuicon {
    /* visibility: hidden; */
    display: none !important;
  }
  .hidesidebar {
    display: flex;
    flex-direction: row !important;
    position: absolute;
    bottom: 9px;
    height: 54px !important;

    justify-content: space-around;
    width: 94vw;
    /* align-self: center; */
  }
  .showsidebar {
    display: flex;
    flex-direction: row !important;
  }
  .firsticon {
    margin-top: 0px !important;
  }
  .navbar {
    justify-content: flex-start;
  }
  .filterfield {
    margin-left: 10px;
  }
  .gbtn {
    visibility: hidden;
  }
}
