* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  line-height: 3.5rem;
}

.img {
  background-image: url('../images/abc.jpg');
  height: 100%;
  background-position: center;
  background-size: cover;
}

.react-tagsinput-tag {
  background-color: black !important;
  border-radius: 2px;
  border: 1px solid black !important;
  color: white !important;
  display: inline-block;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 5px;
}

.react-tagsinput--focused {
  border-color: black !important;
}

.hhh {
  width: 380px;
}

.slide {
  padding: 10px;
}

.filterfield .MuiFormLabel-root {
  color: white !important;
}

.filterfield .MuiFormControl-marginNormal {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}

.MuiInputAdornment-root .MuiInputAdornment-positionEnd .MuiInputAdornment-marginDense {
  color: black !important;
}

.gg {
  padding-left: 10px !important;
  margin-right: 15px;
  background-color: #fff !important;
  color: #000 !important;
}

.gg div {
  display: none;
}

.MuiFormLabel-root {
  color: black !important;
}

.borderbottom {
  border-bottom: 1px solid lightslategrey;
}

.hidetext {
  display: none;
}

.slide:nth-child(2):hover {
  cursor: pointer;
}

.tags {
  padding: 5px;
  border-radius: 1px;
  background-color: lightgreen;
  color: black;
}

.showsidebar {
  width: 200px;
}

.hidesidebar {
  width: 50px;
}

.filterfield {
  width: 500px;
}

.graph {
  width: 100%;
  height: calc(100vh - 70px) !important;
}

.graph svg {
  width: 100% !important;
  height: calc(100vh - 74px) !important;
}

@media screen and (max-width: 500px) {
  .hhh {
    width: 100%;
  }
  .menuicon {
    /* visibility: hidden; */
    display: none !important;
  }
  .hidesidebar {
    display: flex;
    flex-direction: row !important;
    position: absolute;
    bottom: 9px;
    height: 54px !important;
    justify-content: space-around;
    width: 94vw;
    /* align-self: center; */
  }
  .showsidebar {
    display: flex;
    flex-direction: row !important;
  }
  .firsticon {
    margin-top: 0px !important;
  }
  .navbar {
    justify-content: flex-start;
  }
  .filterfield {
    margin-left: 10px;
    width: 316px !important;
  }
  .gbtn {
    display: none !important;
  }
  .netbook {
    margin-left: 11px;
  }
  .modal {
    width: 100% !important;
    height: 100vh !important;
    background-color: red !important;
  }
  .makeStyles-paper-17 {
    width: 100% !important;
    border: 2px solid #000 !important;
    padding: 16px 32px 24px !important;
    position: absolute !important;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12) !important;
    background-color: #fff !important;
    height: calc(100vh - 124px) !important;
    top: 49% !important;
    left: 45% !important;
    transform: translate(-45%, -49%) !important;
  }
  .makeStyles-paper-25 {
    width: 100% !important;
    border: 2px solid #000 !important;
    padding: 16px 32px 24px !important;
    position: absolute !important;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12) !important;
    background-color: #fff !important;
    height: calc(100vh - 124px) !important;
    top: 49% !important;
    left: 45% !important;
    transform: translate(-45%, -49%) !important;
  }
  .makeStyles-paper-33 {
    width: 100% !important;
    border: 2px solid #000 !important;
    padding: 16px 32px 24px !important;
    position: absolute !important;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12) !important;
    background-color: #fff !important;
    height: calc(100vh - 124px) !important;
    top: 49% !important;
    left: 45% !important;
    transform: translate(-45%, -49%) !important;
  }
}